[Unit]
Description=Run script if network is down for 10s on startup
After=systemd-networkd.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/bin/network_check_startup.sh

[Install]
WantedBy=multi-user.target